@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
}

body {
  font-family: Courier, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #444;
  margin: 0;
  background-color: #fdfbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*main*/
main {
  width: 92%;
  margin: 1rem auto 0;
  border-radius: 0.25rem;
  background-color: #fff;
}

main,
header img {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}

header,.song-info,.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding-top: 1rem;
}

header img {
  display: block;
  width: 90%;
  height: 16rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  object-fit: cover;
}

.player {
  margin-top: 0.5rem;
  padding: 0.4rem;
}

.player section:nth-child(1),
.player section:nth-child(2) {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.player section:nth-child(2) i {
  cursor: pointer;
}

span {
  font-weight: 700;
  flex-basis: 6%;
}

.song-info {
  padding-left: 0.5rem;
}

.song-info h3 {
  margin: 0;
}

.song-info span {
  font-size: 0.9rem;
  display: block;
  margin-top: 0.25rem;
}

/*input range*/
.slider {
  flex-basis: 62%;
  outline: none;
  height: 0.2rem;
  -webkit-appearance: none;
  background-color: hsl(231, 100%, 90%);
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: hsl(231, 60%, 47%);
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
}

i {
  color: hsl(231, 60%, 47%);
}

@media (min-width: 400px) {
  main {
    width: 20rem;
  }
}

